<header>
    <h3>Enter Bike Information </h3>
    <p>Brand:
    <input id="new-bikeBrand" type="text" placeholder="Bike Brand">
    <br>
    Bike Color:
    <input id="new-bikeColor" type="text" placeholder="Bike Color">
    <br>
    Bike Price:
    <input id="new-bikePrice" type="text" placeholder="Bike Price">
    <br>
    Bike Type:
    <input id="new-bikeType" type="text" placeholder="Bike Type">
    <br>
    Number of Bikes:
    <input id="new-bikeQuantity" type="text" placeholder="Bike Quantity">
    <br>
    Bike Tags:
    <input id="new-bikeTags" type="text" placeholder="Bike Tags">
    <br>
    Bike Description:
    <input id="new-bikeDescription" type="text" placeholder="Bike Description">
    <br>
    <button id ="enterButton" type="button">SUBMIT</button>
    </p>
</header>
